img {
    margin-left: 500px;     
}

.box1 {
    font-size: large;
    text-align:center;
    background-color: rgb(238, 238, 238);
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 3px;
}

#p1 {
    margin: 1px;
} 

#bt1 {
    font-size: 14px;
    height: 25px;
    width: 120px;
}

.tr1 {
    font-size: 18px;
    display: inline-block;
    background-color: rgb(126, 229, 218);
    width: 32%;
    text-align: center;
    margin-left: 70px;
    padding: 15px 10px 7px;
    
    
}

.tr2 {
    font-size: 14px;
    background-color: rgb(112, 204, 194);
    display: inline-block;
    padding:  10px 8px;
    padding-bottom: 7px;
    width: 16%;
    text-align: center;
}

.tr3 {
    background-color: rgb(98, 179, 170);
    font-size: 14px;
    display: inline-block;
    
    padding: 0px 11px 0px;
    width: 37%;
    height: 84px;
    text-align: center;
}

#end {
    text-align: center;
    font-size: 15px;
    
}

